body {
    font-family: 'Barlow light';
    background-color: hsl(210, 46%, 95%);
    color: hsl(217, 19%, 38%);
    margin: 0;
    padding: 0;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container {
    width: 200px;
    margin-top: 10px;
}
.testimonial-header {
    display: flex;
    align-items: center;
    gap: 15px;
}
.testimonial-content p {
  margin: 10px 0;
  line-height: 1.6;
}

.testimonial-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.bold, .name {
    font-family: 'Barlow bold';
    font-size: 15px;
}
.testimonial{
    color: white;
    padding: 35px;
    border-radius: 10px;
    margin: 20px;
    width:100%;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    height:max-content;
}
.jonathan {
    background-color: hsl(217, 19%, 35%);
}
.daniel {
    background-color: hsl(263, 55%, 52%);
}
.jeanette {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 38%);}
.patrick {
    background-color: hsl(219, 29%, 14%);
}
.kira{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 38%);
}
    /* Desktop layout:change min-width to 900px later */
@media (min-width: 900px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #container {
        display: flex;
        flex-direction: row;
        height:max-content;
        gap: 20px;
        width: 1000px;
        align-items: center;
    }
    .gridContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
        height: 750px;
    }
    .div1,.div2{
        display: flex;
        flex-direction: row;
        height:50%;
        margin:20px;
    }
    .div1{
        width:100%;
    }
    .kira{
        width: 200px;
        height:max-content;
    }
    
    .daniel{
        width:55%;
        height: max-content;
        margin:10px;
        gap: 20px;
    }
    
    .jonathan {
        width:25%;
        height:max-content;
        margin:10px;
    }  
    
    .jeanette{
        width:25%;
        height:max-content;
        margin:10px;
    }
    .patrick {
        width:55%;
        height: max-content;
        margin:10px;
    }   
    }

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@font-face {
font-family: "Barlow bold";
src: url('design/fonts/Barlow_Semi_Condensed,Montserrat,Poppins/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf') format("truetype");
font-weight: 600;
font-style: normal;
}


@font-face {
font-family: "Barlow light";
src: url('design/fonts/Barlow_Semi_Condensed,Montserrat,Poppins/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf') format("truetype");
font-weight: 500;
font-style: normal;
}