body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(210, 46%, 95%);
    color: hsl(217, 19%, 38%);
    margin: 0;
    padding: 0;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    max-width: 1000px;
    margin-top: 10px;
}
.testimonial-header {
    display: flex;
    align-items: center;
    gap: 15px;
}
.testimonial-content p {
  margin: 10px 0;
  line-height: 1.6;
}

.testimonial-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.bold {
    font-weight: bold;
}
.testimonial{
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width:200px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    height:max-content;
}
.jonathan {
    background-color: hsl(217, 19%, 35%);
}
.daniel {
    background-color: hsl(263, 55%, 52%);
}
.jeanette {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 38%);}
.patrick {
    background-color: hsl(219, 29%, 14%);
}
.kira{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 38%);
}
    /* Desktop layout */
    @media (min-width: 900px) {
    #container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .daniel {
        grid-column: 1 / span 2;
    }

    .jonathan {
        grid-column: 3;
    }

    .jeanette {
        grid-column: 1;
    }

    .patrick {
        grid-column: 2 / span 2;
    }

    .kira {
        grid-column: 4;
        grid-row: 1 / span 2;
    }
    }
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
