body {
    font-family: 'Barlow light';
    background-color: hsl(210, 46%, 95%);
    color: hsl(217, 19%, 38%);
    margin: 0;
    padding: 0;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container {
    width: 200px;
    margin-top: 10px;
}
.testimonial-header {
    display: flex;
    align-items: center;
    gap: 15px;
}
.testimonial-content p {
  margin: 10px 0;
  line-height: 1.6;
}

.testimonial-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.bold {
    font-family: 'Barlow bold';
    font-size: 15px;
}
.name {
    margin: 0;
    font-size: 14px;
}
.testimonial{
    color: white;
    padding: 35px;
    border-radius: 10px;
    margin: 20px;
    width:100%;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    height:max-content;
}
.jonathan {
    background-color: hsl(217, 19%, 35%);
}
.daniel {
    background-color: hsl(263, 55%, 52%);
}
.jeanette {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 38%);}
.patrick {
    background-color: hsl(219, 29%, 14%);
}
.kira{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 38%);
}
    /* Desktop layout:change min-width to 900px later */
@media (min-width: 600px) {
    body{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    /* turn the main container into the exact 4-col grid from the design */
    #container{
        height:max-content;
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    .gridContainer{
        display: grid;
        width: 75%;
        height: fit-content;
        gap:24px;    
        justify-items: center; /* horizontal */
        align-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    /* grid placement to match the screenshot */
    .daniel{
        grid-column: 1 / span 2; /* takes 2 columns */
        grid-row: 1;
        gap:24px;
        width:420px;
    }

    .jonathan{
        grid-column: 3;
        grid-row: 1;
        width:190px;
        height: 300px;
    }

    .jeanette{
        grid-column: 1;
        grid-row: 2;
        width:190px;
        height: 300px;
    }

    .patrick{
        grid-column: 2 / span 2; /* takes columns 2-3 */
        grid-row: 2;
        width:400px;
        height: 300px;
    }

    .kira{
        grid-column: 4 ;
        grid-row: 1/ span 2;
        width: 150px;
        height: max-content;
        /* tall card on the right */
    }
    }   

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@font-face {
font-family: "Barlow bold";
src: url('design/fonts/Barlow_Semi_Condensed,Montserrat,Poppins/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf') format("truetype");
font-weight: 600;
font-style: normal;
}


@font-face {
font-family: "Barlow light";
src: url('design/fonts/Barlow_Semi_Condensed,Montserrat,Poppins/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf') format("truetype");
font-weight: 500;
font-style: normal;
}